.navbar {
    height: 80px;

    .wrapper {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;

        .item {
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 25px;
        }

        .center {
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                border-radius: 50px;
                height: 70px;
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 25px;

            .icons {
                display: flex;
                gap: 15px;
                color: #777;
                cursor: pointer;
                font-size: 20px;

                .cart-icon {
                    position: relative;

                    span {
                        font-size: 12px;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: blue;
                        color: white;
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }


    }
}